@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  max-width: 1188px;
  margin: 0 auto;
  padding: 0 39px;
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  padding: 16px 40px;
  background-color: rgba(133, 95, 177, 1);
  border-radius: 29px;
  font-weight: 900;
  font-size: 16px;
  line-height: 162%;
  color: #fff;
  transition: 0.4s ease-in-out;
  span {
    color: #8fe3f9;
  }
  &:hover {
    background-color: rgba(177, 139, 221, 1);
  }
}
.arrow {
  position: relative;
  height: 140px;
  text-align: center;
  span {
    position: absolute;
    bottom: 0;
    transform: translate(-50%, 50%);
    padding: 15px 19px;
    border-radius: 50%;
    border: 1px solid rgba(135, 135, 157, 0.25);
    background-color: #fff;
    font-weight: 900;
    font-size: 16px;
    line-height: 162%;
    color: #87879d;
    z-index: 1;
    &::after {
      content: "";
      display: block;
      width: 1px;
      height: 84px;
      position: absolute;
      background-color: rgba(135, 135, 157, 0.25);
      top: 0;
      left: 50%;
      transform: translate(-50%, -100%);
      z-index: 1;
    }
  }
}
body {
  font-family: "Red Hat Display", sans-serif;
  .header {
    padding: 80px 0 90px;
    background-image: url(../image/header-left-background.png),
      url(../image/header-right-background.png);
    background-repeat: no-repeat;
    background-position: top 169px left, top 224px right;
    .header-logo {
      text-align: center;
    }
    .header-mobileImage {
      display: none;
    }
    .header-info {
      padding: 0 5px;
      padding-top: 108px;
      max-width: 550px;
      margin: 0 auto;
      text-align: center;
      background-color: #ffffff49;
      backdrop-filter: blur(10px);
      .header-title {
        font-weight: 900;
        font-size: 64px;
        line-height: 100%;
        color: #28283d;
        margin-bottom: 34px;
      }
      .header-text {
        font-weight: 500;
        font-size: 18px;
        line-height: 144%;
        color: #87879d;
        margin-bottom: 32px;
        outline: 1px solid #fff;
        outline-style: dashed;
        background-color: #ffffff49;
        backdrop-filter: blur(10px);
        border-radius: 20px;
      }
      .header-links {
        display: flex;
        justify-content: center;
        gap: 16px;
        a:first-child {
          background-color: rgba(77, 150, 169, 1);
          &:hover {
            background-color: rgba(113, 192, 212, 1);
          }
        }
      }
    }
  }
  .main {
    .arrow:first-child {
      margin-bottom: calc(64px + 28px);
    }
    .main-images {
      display: flex;
      justify-content: space-between;
      gap: 24px 30px;
      margin-bottom: 80px;
      .main-img {
        flex: 1 0 0;
        border-radius: 8px;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
    }
    .main-info {
      margin: 0 auto;
      max-width: 540px;
      text-align: center;
      margin-bottom: calc(72px - 28px);
      .main_secondTitle {
        font-weight: 900;
        font-size: 16px;
        line-height: 162%;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        color: #4d96a9;
        margin-bottom: 16px;
      }
      .main_firstTitle {
        max-width: 445px;
        font-weight: 900;
        font-size: 40px;
        line-height: 110%;
        color: #28283d;
        margin: 0 auto;
        margin-bottom: 32px;
      }
      .main_text {
        font-weight: 500;
        font-size: 18px;
        line-height: 144%;
        color: #87879d;
      }
    }
  }
  .footer {
    position: relative;
    background-image: url(../image/footer-backg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 116px 0 104px;
    .wrapper {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 1;
      .footer-title {
        max-width: 350px;
        font-weight: 900;
        font-size: 40px;
        line-height: 110%;
        color: #fafafa;
      }
      .footer-text {
        max-width: 350px;
        font-weight: 500;
        font-size: 18px;
        line-height: 144%;
        color: #fafafa;
      }
      .btn {
        span {
          color: rgba(217, 184, 255, 1);
        }
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(77, 150, 169, 0.9);
    }
  }
}
@media (max-width: 1024px) {
  body {
    .header {
      padding: 48px 0 52px;
      background-image: none;
      .wrapper {
        padding: 0;
      }
      .header-mobileImage {
        padding-top: 64px;
        display: block;
        img {
          width: 100%;
        }
      }
      .header-info {
        padding: 0 39px;
        padding-top: 72px;
        .header-title {
          margin-bottom: 24px;
          font-size: 48px;
        }
        .header-text {
          font-size: 16px;
          line-height: 162%;
        }
      }
    }
    .main {
      .arrow:first-child {
        margin-bottom: calc(67px + 28px);
      }
      .main-images {
        margin-bottom: 48px;
      }
      .main-info {
        max-width: 573px;
        margin-bottom: calc(80px - 28px);
        .main_text {
          font-size: 16px;
          line-height: 162%;
        }
      }
    }
    .footer {
      padding: 92px 0 66px;
      .wrapper {
        flex-direction: column;
        gap: 32px;
        text-align: center;
        .footer-text {
          max-width: 573px;
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .wrapper {
    padding: 0 24px;
  }
  body {
    .header {
      .header-mobileImage {
        padding-top: 54px;
      }
      .header-info {
        padding: 0 24px;
        padding-top: 48px;
        .header-title {
          font-size: 40px;
          line-height: 110%;
        }
        .header-text {
          font-size: 16px;
          line-height: 162%;
        }
      }
      .header-links {
        flex-direction: column;
        align-items: center;
      }
    }
    .main {
      .arrow:first-child {
        margin-bottom: calc(64px + 28px);
      }
      .main-images {
        margin-bottom: 64px;
        flex-wrap: wrap;
        gap: 25px;
        .main-img {
          flex: 1 0 120px;
        }
      }
      .main-info {
        margin-bottom: calc(64px - 28px);
        .main_secondTitle {
          margin-bottom: 24px;
        }
        .main_firstTitle {
          font-size: 32px;
          line-height: 112%;
        }
        .main_text {
          font-size: 16px;
          line-height: 162%;
        }
      }
    }
    .footer {
      padding-bottom: 72px;
      .wrapper {
        .footer-title {
          font-size: 32px;
          line-height: 112%;
        }
      }
    }
  }
}
