*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // outline: 1px solid red;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.wrapper {
  padding: 0 48px 0 40px;
}
html {
  scroll-behavior: smooth;
}
body {
  user-select: none;
  font-family: "Barlow", sans-serif;
}
// font-family: "Fraunces", serif;
