@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(150.03deg, #ffffff 0%, #fff4f4 84.51%);
  a {
    font-family: "Josefin Sans", sans-serif;
    text-decoration: none;
  }
  button {
    font-family: "Josefin Sans", sans-serif;
    border: none;
  }
  input {
    font-family: "Josefin Sans", sans-serif;
    border: none;
    outline: none;
    background: none;
  }
  .continer {
    height: 100vh;
    flex-grow: 1;
    background-image: url(../img/background-1.png), url(../img/background-2.png);
    background-repeat: no-repeat;
    background-position: top left, right bottom;
    background-size: contain, auto;
    .info {
      max-width: calc(494px + 165px);
      padding: 65px 50px 0 165px;
      .logo {
        display: block;
        margin-bottom: 136px;
      }
      .img-mobile {
        display: none;
      }
      h1 {
        font-weight: 600;
        font-size: 64px;
        line-height: 111%;
        letter-spacing: 0.27em;
        margin-bottom: 32px;
        span {
          font-weight: 300;
          line-height: 100%;
          color: #ce9898;
        }
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        color: #ce9898;
        margin-bottom: 40px;
      }
      .email {
        display: flex;
        border: 1px solid rgba(206, 152, 152, 0.5);
        border-radius: 28px;
        input {
          flex-grow: 1;
          padding: 15px 0 13px 32px;
          font-weight: 400;
          font-size: 16px;
          line-height: 175%;
          color: #ce9898;
          &::placeholder {
            color: rgba(206, 152, 152, 0.5);
          }
        }
        button {
          cursor: pointer;
          overflow: hidden;
          position: relative;
          width: 100px;
          border-radius: 28px;
          background: linear-gradient(135deg, #f8bfbf 0%, #ee8b8b 100%);
          box-shadow: 0px 15px 20px 0px rgba(198, 110, 110, 0.25);
          transform: scale(1.035);
          transition-duration: 0.3s;
          span {
            display: block;
            width: 12.5px;
            height: 12.5px;
            margin: 0 auto;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
            rotate: 45deg;
            z-index: 1;
          }
          &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #fff;
            opacity: 0;
            transition-duration: 0.3s;
          }
          &:focus {
            transform: scale(1.07);
            &::after {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
  .img {
    overflow: hidden;
    height: 100vh;
    img {
      height: 100%;
    }
  }
}
@media (max-width: 1024px) {
  body {
    .img {
      display: none;
    }
  }
}
@media (max-width: 768px) {
  body {
    .continer {
      height: auto;
      padding-bottom: 92px;
      .info {
        max-width: 100%;
        padding: 0;
        .logo {
          padding: 32px;
          margin: 0;
        }
        .img-mobile {
          display: block;
          margin-bottom: 64px;
          img {
            width: 100%;
          }
        }
        h1 {
          font-size: 40px;
          line-height: 105%;
          text-align: center;
          padding: 0 32px;
          margin-bottom: 16px;
        }
        p {
          text-align: center;
          padding: 0 32px;
          font-size: 14px;
          line-height: 157%;
        }
        .email {
          margin: 0 32px;
          button {
            max-width: 64px;
          }
        }
      }
    }
  }
}
